<section class="inaccessible text">
  <h1>Form</h1>
  <div>None of the information you provide here will be saved.</div>

  <input type="text" placeholder="Name" />
  </br>
  <input type="text" placeholder="Phone Number" />

  <div style='margin-top: 10px'>Birthday</div>
  <input type="text" placeholder='MM/DD/YYYY' />

  <div class="top-label">Favorite pizza topping</div>
  <input type="radio" name='pizza' value="Cheese" />Cheese </br>
  <input type="radio" name='pizza' value="Pepperoni" />Pepperoni </br>
  <input type="radio" name='pizza' value="Mushrooms" />Mushrooms </br>
  <input type="radio" name='pizza' value="Anchovies" />Anchovies </br>
  <input type="radio" name='pizza' value="Other" />Other </br>

  <div class="top-label">Favorite hamburger toppings (pick three)</div>
  <input type="checkbox" name='hamburger' value="Cheese" />Cheese </br>
  <input type="checkbox" name='hamburger' value="Ketchup" />Pepperoni </br>
  <input type="checkbox" name='hamburger' value="Mustard" />Mustard </br>
  <input type="checkbox" name='hamburger' value="Pickles" />Pickles </br>
  <input type="checkbox" name='hamburger' value="Onions" />Onions </br>
  <input type="checkbox" name='hamburger' value="Lettuce" />Lettuce </br>
  <input type="checkbox" name='hamburger' value="Tomato" />Tomato </br>

  <span class="top-label">What is your favorite cuisine? <span class="accessible-input" id='cuisinesValue' data-jq-dropdown="#jq-dropdown-1">Select</span></span>
  <div id="jq-dropdown-1" class="jq-dropdown">
    <ul class="jq-dropdown-menu" ng-repeat="cuisine in cuisines">
        <li ng-click='onSelectHandler(cuisine)'><a>{{cuisine}}</a></li>
    </ul>
</div>
  <div style="margin-top: 25px;"></div>
  <div>None of your selections will be saved.  This form is purely for testing</div>
  <div style="margin-top: 25px;"></div>
  <a ng-click='submitForm()'><img src="/app/assets/images/button.png"></a>
</section>
<div class="accessible text survey-code-container">
<span>Go back to the survey and use this code for the first question of this section on the survey: <strong class="survey-code">{{code}}</strong></span>
<div>